.copy-first h1 {
  margin: 0;
  color: #ffc701;
  font-family: CircularBold;
  margin-bottom: -5px;
}

.copy-first button {
  background-color: white;
  color: #b40032;
  font-family: CircularBold;
  border-radius: 25px;
  border: none;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  text-transform: capitalize;
}

.copy-first button:hover {
  background-color: #FFD200;
  color: white;
}

@media screen and (min-width: 601px) {
  .copy-first {
    margin-left: -20%;
    margin-top: 20%;
    max-width: 14em;
  }

  .copy-first h1 {
    text-align: left;
    font-size: 1.35em;
  }

  .copy-first p {
    font-size: 12px;
    text-align: left;
    color: white;
  }

  .mobile-image-first {
    display: none;
  }

  .copy-first button {
    display: flex;
    font-size: 18px;
    margin-top: 8%;
  }
}

@media screen and (max-width: 600px) {
  .flex-container-first {
    display: flex wrap;
    align-content: center;
    justify-content: center;
  }

  .copy-first{
    max-width: 8em;
    margin-left: 0.7em;
  }

  .mobile-image-first img {
    margin-top: 0%;
    margin-left: -2%;
    height: 280px;
    width: auto;
  }

  .copy-first h1 {
    text-align: center;
    font-size: 1.1em;
  }

  .copy-first p {
    font-size: 12px;
    text-align: center;
    color: white;
  }

  .copy-first button {
    margin-top: 4%;
    font-size: 18px;
  }

  .hero-first div {
    background-color: #b40032;
  }
}