
.copy-first h1 {
  margin: 0;
  color: #474b55;
  font-family: CircularBold;
  margin-bottom: -5px;
}
.copy-first button {
  background-color: white;
  color: #ff4f38;
  font-family: CircularBold;
  border-radius: 25px;
  border: none;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  text-transform: uppercase;
}
.copy-first button:hover {
  background-color: #FFD200;
  color:#b40032;
}

@media screen and (min-width: 601px) {
  .copy-first {
    margin-left: -55%;
    margin-top: 30%;
  }

  .copy-first h1{
    text-align: left;
    font-size: 1.5em;
  }
  .mobile-image-first {
    display: none;
  }
  .copy-first button { 
    display: flex;
    margin-top: 8%;
  }
}

@media screen and (max-width: 600px) {
  .flex-container-first {
    display: flex wrap;
    align-content: center;
    justify-content: center;
  }
  .mobile-image-first img{
    margin-top: -50%;
    margin-left: 0%;
    height: 350px;
    width: auto;
  }

  .copy-first h1 {
    text-align: center;
    font-size: 1.5em;
    padding-left: 0px;
  }

  .copy-first button {
    margin-top: 5%;
    margin-left: -8%
  }
  
  .hero-first div {
    background-color: #ff4f38;
  }
}