.copy {
  margin-left: -55%;
}

.copy h1 {
  margin: 0;
  text-align: right;
  color: #dd6101;
  font-size: 1.5em;
  display: flex wrap;
}

.copy button {
  background-color: white;
  color: #b40032;
  font-family: Circular;
  border-radius: 3px;
  border: none;
  font-size: 0.5em;
  margin-top: 30px;
  padding: 7px 30px 7px 30px;
  position: flex-start;
  margin-left: -50%;
}

.copy button:hover {
  color: #00A6D4;
}

@media screen and (min-width: 451px) {
  .mobile-image {
    display: none;
  }
}

@media screen and (max-width: 450px) {

  .flex-container {
    display: flex wrap;
    align-content: center;
    justify-content: center;

  }

  .mobile-image img {
    margin-top: 0%;
    height: 280px;
    width: auto;
    margin-left: 0%;
    z-index: -5;
  }

  .copy h1 {
    font-size: 1em;
    margin-left: 33%;
    text-align: center;
    z-index: 1;
  }

  .copy button {
    margin-left: 35%;
    margin-bottom: -20%;
    margin-top: 20px;
    font-size: 0.60em;
  }

  .hero-second div {
    background-color: #a6e7d1;
  }
}