.copy-third {}

.copy-third h1 {
  margin: 0;
  color: #a6e7d1;
  font-family: CircularBold;
}

.copy-third button {
  background-color: white;
  color: #ffa404;
  font-family: Circular;
  border-radius: 12px;
  border: none;
  padding: 5px 20px 3px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.copy-third button:hover {
  color: #b3e5d4;
  background-color: #474B55;
}

@media screen and (min-width: 601px) {
  .copy-third {
    display: flex wrap;
    margin-right: 0%;
    margin-top: 30%;
  }

  .copy-third h1 {
    text-align: left;
    margin-left: 0%;
    font-size: 1.75em;
    margin-bottom: -4%
  }

  .copy-third button {
    margin-top: 5%;
    font-size: 0.5em;
    margin-left: -60%;
  }

  .mobile-image-third img {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .flex-container-third {
    display: flex wrap;
    align-content: center;
    justify-content: center;

  }

  .mobile-image-third img {
    margin-bottom: 5%;
    height: 280px;
    width: auto;
    margin-left: 0%;
    z-index: -5;
  }

  .copy-third h1 {
    font-size: 1.25em;
    text-align: center;
    z-index: 1;
  }


  .copy-third button {
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 10%;
  }

  .hero-third div {
    background-color: #ffa404;
  }
}